@font-face {
  font-family: "Anime Ace 2.0 BB";
  src:
    url("/fonts/AnimeAce20BB-Bold.woff2") format("woff2"),
    url("/fonts/AnimeAce20BB-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anime Ace 2.0 BB";
  src:
    url("/fonts/AnimeAce20BB.woff2") format("woff2"),
    url("/fonts/AnimeAce20BB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anime Ace 2.0 BB";
  src:
    url("/fonts/AnimeAce20BB-Italic.woff2") format("woff2"),
    url("/fonts/AnimeAce20BB-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BadaBoom BB";
  src:
    url("/fonts/BadaBoomBB.woff2") format("woff2"),
    url("/fonts/BadaBoomBB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
